{% extends "tarefas/base.html" %}
{% load i18n static %}
{% block title %}To Do List - Recuperar senha{% endblock %}
{% block content %}

<div class="container text-center mt-3">
    <form method="post" }>
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4 offset-md-3 offset-xl-4">
                <h2>{{ title }}</h2>
                {{ form.email.errors }}
                <div class="d-grid gap-2">
                    <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254"
                           required="" id="id_email" placeholder="{% translate 'Email address' %}">
                    <button type="submit" class="btn btn-block btn-info">{% translate 'Reset my password' %}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}