{% extends 'tarefas/base.html' %}
{% load i18n static %}

{% block title %}Confirmação nova senha{% endblock %}


{% block content %}

{% if validlink %}
<div class="container text-center mt-3">
    <h1>Digite a nova senha</h1>
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>


    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4 offset-md-3 offset-xl-4">
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}" type="hidden">
                <input class="form-control mb-2" type="password" name="new_password1" autocomplete="new-password"
                       required="" id="id_new_password1" aria-autocomplete="list"
                       placeholder="{% translate 'New password' %}">
                <input class="form-control mb-2" type="password" name="new_password2" autocomplete="new-password"
                       required="" id="id_new_password2" placeholder="{% translate 'Confirm password:' %}">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-block btn-info">{% translate 'Change my password' %}</button>
                </div>
                {% if form.errors %}
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger mt-2"><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                {{ form.non_field_errors }}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </form>

    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please
        request a new password reset." %}</p>

    {% endif %}
</div>

{% endblock %}