{% extends "tarefas/base.html" %}
{% block title %}To Do List - Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Lista de tarefas</h1>
            <form action="{% url 'tarefas:home' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Descreva a sua tarefa"
                           aria-label="Descreva a sua tarefa" aria-describedby="button-addon2" name="nome">
                    <button type="submit" class="btn btn-primary" id="button-addon2">Salvar</button>
                </div>
                <div class="form-text">{{ form.nome.errors }}</div>
            </form>

            <h2 class="mt-5">Tarefas pendentes</h2>
            {% for tarefa in tarefas_pendentes %}
            <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Descreva a sua tarefa"
                           required="required"
                           aria-label="Descreva a sua tarefa" name="nome" value="{{ tarefa.nome }}">
                    <input type="hidden" value="checked" name="feita">
                    <button type="submit" class="btn btn-success">Marcar como feita</button>
                </div>
            </form>
            {% endfor %}

            <h2 class="mt-5">Tarefas feitas</h2>
            {% for tarefa in tarefas_feitas %}
            <div class="row">
                <div class="col-2">
                    <form action="{% url 'tarefas:apagar' tarefa_id=tarefa.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-danger">Apagar</button>
                        </div>
                    </form>
                </div>
                <div class="col-10">
                    <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descreva a sua tarefa"
                                   required="required"
                                   aria-label="Descreva a sua tarefa" name="nome" value="{{ tarefa.nome }}">
                            <button type="submit" class="btn btn-warning">Marcar como pendente</button>
                        </div>
                    </form>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}