{% extends "tarefas/base.html" %}
{% block title %}To Do List - Entrar{% endblock %}
{% block content %}

<div class="container text-center mt-3">
    <form method="post" }>
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4 offset-md-3 offset-xl-4">
                <h2>Login</h2>
                <input class="form-control mb-2" type="text" name="username" autofocus="" autocapitalize="none"
                       autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Usuário">
                <input class="form-control" type="password" name="password" autocomplete="current-password"
                       required="" id="id_password" placeholder="Senha">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success mt-2">Entrar</button>
                    <a type="button" class="btn btn-primary" href="{% url 'tarefas:registrar' %}">Registrar</a>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger mt-2">Seu usuário e senha não combinam. Por favor, tente novamente</div>
                {% endif %}
            </div>
        </div>
    </form>
</div>


{% endblock %}